/*-----------------------------------------------------------------------------------*/
/*	Vars
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	MIXINS
/*-----------------------------------------------------------------------------------*/
/* COMMENTS ------------------------------------------------------------*/
.reply-wrapper {
  background: #fff;
  width: 100%;
  padding-bottom: 130px;
}
#comments-wrap {
  background: #fff;
  margin: 0px;
  /* COMMENTS PAGINATION ------------------------------------------------------------*/

}
#comments-wrap a {
  color: #888;
  font-size: 100;
  font-size: .7em;
  text-decoration: none;
}
#comments-wrap .heading {
  margin: 0px;
  padding: 1em 0;
  background: #444;
  color: #fff;
}
#comments-wrap .nocomments {
  text-align: center;
  padding: 20px;
}
#comments-wrap .commentlist {
  list-style-type: none;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 3em;
  padding-left: 20px;
  padding-right: 20px;
}
#comments-wrap .commentlist .comment {
  padding: 10 0 0px 0;
  border-top: 1px #444 solid;
  margin: 0 0 18px;
  padding: 25px 0px 0px 0px;
  /* REPLY ------------------------------------------------------------*/

  /* CHILDREN ------------------------------------------------------------*/

}
#comments-wrap .commentlist .comment .comment-body {
  position: relative;
  margin-bottom: 20px;
  /* META ------------------------------------------------------------*/

}
#comments-wrap .commentlist .comment .comment-body .comment-author {
  color: #444;
}
#comments-wrap .commentlist .comment .comment-body .comment-author cite {
  font-weight: bold;
  font-style: normal;
  color: #2C2D31;
  margin: 0;
  padding: 0;
}
#comments-wrap .commentlist .comment .comment-body .comment-author cite a {
  padding: 0 15px 0 0;
  color: #2C2D31;
}
#comments-wrap .commentlist .comment .comment-body .comment-author p:last-child {
  margin: 0;
}
#comments-wrap .commentlist .comment .comment-body .comment-author .avatar {
  float: left;
  margin: 2px 15px 0 0;
  /* rounded and shadow */

  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
#comments-wrap .commentlist .comment .comment-body .comment-meta {
  margin: 0 0 40px 50px;
  color: #a4a5aa;
  position: relative;
}
#comments-wrap .commentlist .comment .reply {
  position: absolute;
  right: 1px;
  top: 1px;
}
#comments-wrap .commentlist .comment .reply .comment-reply-link {
  display: block;
  color: #444 ;
  font-size: 12px;
  text-transform: uppercase;
  background: #f1f1f1;
  padding: 3px 10px;
}
#comments-wrap .commentlist .comment .reply .comment-reply-link:hover {
  background: #dbc333;
}
#comments-wrap .commentlist .comment .children {
  list-style-type: none;
  margin-left: 74px;
}
#comments-wrap .commentlist .comment .children .comment {
  border-bottom: none;
  border-top: 1px #444  solid;
}
#comments-wrap .commentlist .comment .children .comment .comment-body {
  margin: 20px 0 0 0px;
}
#comments-wrap .commentlist .comment .children .comment .comment-body .avatar {
  height: 35px;
  width: 35px;
}
#comments-wrap .commentlist .comment .children .comment .comment-body .comment-meta {
  margin-left: 40px;
  margin-bottom: 18px;
}
#comments-wrap .commentlist > li:first-child {
  border: none;
  padding-top: 20px;
}
#comments-wrap .comments-pagination {
  clear: both;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 10px;
}
#comments-wrap .comments-pagination span,
#comments-wrap .comments-pagination a {
  display: block;
  float: left;
  margin: 2px 2px 2px 0;
  padding: 6px 9px 5px 9px;
  text-decoration: none;
  width: auto;
  color: #fff;
  background: #555;
}
#comments-wrap .comments-pagination span:hover,
#comments-wrap .comments-pagination a:hover {
  color: #fff;
  background: #000000;
}
#comments-wrap .comments-pagination .current {
  padding: 6px 9px 5px 9px;
  background: #000000;
  color: #fff;
}
#comments-wrap .comments-pagination .add-comment-link a {
  font-size: 14px;
  padding: 0 15px 0 0;
}
#comments-wrap .comment-body ul {
  list-style-type: disc;
}
#comments-wrap .comment-body ol {
  list-style-type: decimal;
}
