/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/
/*	



/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/*-----------------------------------------------------------------------------------*/
/*	Vars
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	MIXINS
/*-----------------------------------------------------------------------------------*/
.navbar #comboNav {
  display: none;
}
.navbar #main-nav {
  display: block;
}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  /*-----------------------------------------------------------------------------------*/
  /*	typo
  	/*-----------------------------------------------------------------------------------*/
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 1.3em;
  }
  .page-section .subheading,
  .page-section-odd .subheading {
    font-size: 1em;
  }
  .page-section h1,
  .page-section-odd h1 {
    font-size: 1.5em;
  }
  .page-section h2,
  .page-section-odd h2 {
    font-size: 2em;
  }
  .page-section h3,
  .page-section-odd h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: #444;
  }
  .main {
    font-size: 16px;
  }
  /*-----------------------------------------------------------------------------------*/
  /*	nav
  	/*-----------------------------------------------------------------------------------*/
  body .navbar #comboNav {
    display: block;
    margin: 1em auto;
    width: 90%;
    padding: 5px 10px;
    font-size: .8em;
    -webkit-appearance: none;
    background-image: url(../img/combobox.png);
    background-position: center right;
    background-repeat: no-repeat;
  }
  body .navbar #main-nav {
    display: none;
  }
  /*-----------------------------------------------------------------------------------*/
  /*	main
  	/*-----------------------------------------------------------------------------------*/
  body.home {
    padding-top: 28em;
    /* has relation with the main-title class */
  }
  body {
    padding-top: 16em;
    /* has relation with the main-title class */
  }
  /*-----------------------------------------------------------------------------------*/
  /*	WORK
  	/*-----------------------------------------------------------------------------------*/
  #work-filter {
    display: none;
  }
  #work-container {
    /* this rule is needed by MixitUp jquery */
  
  }
  #work-container .mix {
    opacity: 0;
    display: none;
    /* semiperfect gutter layout 31% width and a gutter of 1% to each side */
  
    width: 100%;
    margin: 0;
    margin-bottom: 1.5em;
  }
  #work-container .thumb {
    display: block;
    padding-bottom: 1em;
  }
  #work-container .title {
    display: block;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 1em;
    color: #444;
    text-decoration: none;
  }
  /*-----------------------------------------------------------------------------------*/
  /*	SINGLE-WORK
  	/*-----------------------------------------------------------------------------------*/
  .project-info,
  .project-content {
    width: 100%;
    float: none;
  }
  .related-projects {
    padding: 5%;
  }
  .related-projects li {
    float: none;
    width: 100%;
    padding-bottom: 1em;
  }
  /*-----------------------------------------------------------------------------------*/
  /*	widgets
  	/*-----------------------------------------------------------------------------------*/
  .widget-cols > li {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
    font-size: .85em;
  }
  .widget-cols > li.third-col {
    margin-right: 0;
  }
  /* MOBILE FORMS ----------------------------------------------------*/.wpcf7-form input,
  #contactForm input,
  .wpcf7-form textarea,
  #contactForm textarea,
  #commentform input,
  #commentform textarea {
    width: 90%;
  }
}
