@import url('social-icons.css');

@import url('superfish.css');

@import url('comments.css');

@import url('forms.css');

@import url('entry-content.css');
/*-----------------------------------------------------------------------------------*/
/*	Mixings and colors
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Vars
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	MIXINS
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	Import other CSS
/*-----------------------------------------------------------------------------------*/
body {
  position: relative;
  margin-top: 4em;
  padding-top: 18em;
  /* has relation with the main-title class */

  font-family: 'Lato', serif;
  font-weight: 400;
}
body.home {
  padding-top: 37em;
  /* has relation with the main-title class */
}
/*-----------------------------------------------------------------------------------*/
/*	TYPO
/*-----------------------------------------------------------------------------------*/
h1,
h2,
h3 {
  font-family: 'Merriweather', Helvetica;
  line-height: 1.4em;
}
h1.heading,
h2.heading,
h3.heading,
h4.heading,
h5.heading,
h6.heading {
  text-align: center;
}
h1 {
  font-family: 'Lato', serif;
  color: #444;
  font-weight: 700;
}
h2 {
  color: #921d26;
  font-weight: 900;
  font-size: 1.5em;
}
h3 {
  font-family: 'Lato', serif;
  font-weight: 100;
  font-size: 1.5em;
  color: #888;
}
/* ===================
    ALL: Orange Theme
   =================== */
#header-container {
  border-bottom: 20px solid #e44d26;
}
#footer-container {
  border-top: 20px solid #e44d26;
}
#main aside {
  border-top: 20px solid #e44d26;
}
#header-container,
#footer-container,
#main aside {
  background: #f16529;
}
#title {
  color: white;
}
::-moz-selection {
  background: #cf7831;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #cf7831;
  color: #fff;
  text-shadow: none;
}
a {
  color: #cf7831;
}
a:hover {
  color: #dbc333;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
blockquote {
  margin: 2.5em 2em;
  color: #444;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
}
/*-----------------------------------------------------------------------------------*/
/*	HEADER
/*-----------------------------------------------------------------------------------*/
/*  ----------------------------------------------------*/header {
  display: block;
  background: #444;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
header .navbar {
  /*center methhod 1/3 */

  width: 100%;
  position: relative;
  float: left;
  line-height: 40px;
}
header .navbar #main-nav {
  list-style: none;
  text-transform: uppercase;
  padding: 0 0;
  margin: 0px;
  font-family: 'Lato', serif;
  font-size: .8em;
  /*center methhod 2/3 */

  clear: left;
  float: right;
  display: block;
  text-align: center;
  position: relative;
  right: 50%;
  /* sub navigation -----------------------------------------------------*/

}
header .navbar #main-nav > li {
  line-height: 40px;
  /*center methhod 3/3*/

  display: block;
  float: left;
  position: relative;
  left: 50%;
}
header .navbar #main-nav > li:hover > a {
  color: #dbc333;
}
header .navbar #main-nav > li.current-menu-item,
header .navbar #main-nav > li.current_page_item {
  background: url(../img/nav-active.png) center top;
}
header .navbar #main-nav > li.current-menu-item:after,
header .navbar #main-nav > li.current_page_item:after {
  content: ' ';
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 6px;
  width: 100%;
  background: url(../img/nav-active.png) center bottom;
}
header .navbar #main-nav > li.current-menu-item:hover a,
header .navbar #main-nav > li.current_page_item:hover a {
  color: #fff;
}
header .navbar #main-nav > li {
  display: inline-block;
  padding: 0px 10px;
}
header .navbar #main-nav > li a {
  text-decoration: none;
  color: #fff;
}
header .navbar #main-nav > li ul {
  margin-top: 7px;
  background: #444;
  text-align: left;
}
header .navbar #main-nav > li ul li a {
  padding: 0 10px;
}
header .navbar #main-nav > li ul li:hover > a {
  background: #921f27;
}
.navbar #comboNav {
  display: none;
}
.navbar #main-nav {
  display: block;
}
/*-----------------------------------------------------------------------------------*/
/*	BODY
/*-----------------------------------------------------------------------------------*/
.main {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
  color: #444;
}
.main-title {
  text-align: center;
  font-size: 1.15384em;
  color: #ffffff;
  padding: 2.8em 0;
  position: fixed;
  top: 1.9em;
  left: 0;
  right: 0;
  height: 25em;
  /* has relation with the body top padding */

  z-index: -1;
  font-family: 'Merriweather', Helvetica;
}
.main-title h1 {
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Merriweather', Helvetica;
}
.main-title h2 {
  margin: 0px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: 'Merriweather', Helvetica;
}
.page-title {
  text-align: center;
  font-size: 1.15384em;
  color: #ffffff;
  padding: 2.8em 0;
  position: fixed;
  top: 1.9em;
  left: 0;
  right: 0;
  height: 10em;
  /* has relation with the body top padding */

  z-index: -1;
}
.page-section,
.page-section-odd {
  background: #efedea;
  margin: 0;
  z-index: 10;
  position: relative;
}
.page-section .subheading,
.page-section-odd .subheading {
  font-family: 'Lato', serif;
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 100;
  color: #888;
  text-align: center;
  margin-bottom: 1.5em;
}
.page-section h1,
.page-section-odd h1 {
  font-size: 2em;
}
.page-section h2,
.page-section-odd h2 {
  font-size: 2.5em;
}
.page-section h3,
.page-section-odd h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #444;
}
.page-section img,
.page-section-odd img {
  max-width: 100%;
  height: auto;
}
.page-section .page-section-inner,
.page-section-odd .page-section-inner {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 6em 0;
}
.page-section .page-section-inner-no-margin,
.page-section-odd .page-section-inner-no-margin {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 8em 0 2em 0;
}
.page-section-odd {
  background: #444;
  color: #fff;
}
.page-section-odd a {
  color: #dbc333;
}
.page-section-odd h2 {
  color: #dbc333;
}
.page-section-odd:before {
  content: ' ';
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: transparent url('../img/zigzag-dark.png') repeat-x center top;
  background-size: 20px;
}
.page-section.zigzag:before {
  content: ' ';
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: transparent url('../img/zigzag.png') repeat-x center top;
  background-size: 20px;
}
.page-section-white {
  background: #fff;
  color: #444;
}
.gallery-container {
  overflow: hidden;
  margin: 0;
  z-index: 10;
  position: relative;
  /* Slide ----------------------------------------------------*/
}
.gallery-container .swiper-container {
  /* Specify Swiper's Size: */

  max-width: 672px;
  height: auto;
}
.gallery-container .swiper-slide {
  /* Specify Slides's Size: */

  width: 100%;
  height: 100%;
}
/* Gray scale on not active slides ----------------------------------------------------*/.swiper-slide:not(.swiper-slide-active) img {
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;filter: gray;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
/*-----------------------------------------------------------------------------------*/
/*	WORK
/*-----------------------------------------------------------------------------------*/
#work-filter {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  padding: 2em 0 ;
  font-size: .7em;
  border-top: 3px solid #444;
  text-transform: uppercase;
}
#work-filter li {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#work-filter li:first-child {
  padding-right: 5px;
}
#work-filter li:hover {
  color: #cf7831;
}
#work-filter .filter:after {
  content: ' / ';
  padding-left: 5px;
  padding-right: 5px;
}
#work-filter .filter:last-child:after {
  content: '';
}
#work-container {
  /* this rule is needed by MixitUp jquery */

}
#work-container .mix {
  opacity: 0;
  display: none;
  /* semiperfect gutter layout 31% width and a gutter of 1% to each side */

  width: 31%;
  margin: 0 1%;
  margin-bottom: 1.5em;
}
#work-container .thumb {
  display: block;
  padding-bottom: 1.6em;
}
#work-container .title {
  display: block;
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Lato', serif;
  font-weight: 700;
  font-size: 1em;
  color: #444;
  text-decoration: none;
}
.testimonial-holder {
  max-width: 900px;
  min-height: 100px;
  margin: 3em auto;
}
.testimonial-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.testimonial-list li {
  display: block;
  width: 100%;
  text-align: center;
}
.testimonial-list li .quote {
  color: #888;
  font-family: 'Merriweather', Helvetica;
  font-style: italic;
}
.testimonial-list li .source {
  color: #444;
  font-weight: 700;
}
/*-----------------------------------------------------------------------------------*/
/*	SINGLE-WORK
/*-----------------------------------------------------------------------------------*/
.project-info {
  width: 20%;
  float: left;
  font-size: .8em;
  font-family: 'Merriweather', Helvetica;
}
.project-info a {
  font-weight: 900;
  text-decoration: none;
}
.project-content {
  width: 75%;
  float: right;
}
.related-projects-holder {
  max-width: 900px;
  margin: 0 auto;
}
.related-projects-holder .heading {
  font-size: 1.5em;
  font-weight: 700;
  color: #444;
  padding: 2em 0;
  text-align: center;
}
.related-projects {
  display: block;
  margin: 0;
  padding: 0em 0 4em 0;
  list-style: none;
}
.related-projects li {
  float: left;
  width: 31.914893614%;
  margin-right: 2.12%;
}
.related-projects li:nth-child(3n) {
  margin-right: 0px;
}
.related-projects li .thumb {
  display: block;
  margin-bottom: 10px;
}
.related-projects li .thumb img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}
.related-projects li .heading {
  font-size: 1em;
  font-weight: 700;
  color: #444;
  padding: 1em 0;
  text-align: center;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.related-projects li .heading:hover {
  color: #cf7831;
}
/*-----------------------------------------------------------------------------------*/
/*	BLOG
/*-----------------------------------------------------------------------------------*/
.action-link {
  clear: both;
  display: block;
  background: #444;
  float: left;
  text-decoration: none;
  color: #fff;
  font-size: .8em;
  font-weight: 100;
  padding: .5em .8em;
}
.action-link:hover {
  background: #921f27;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#posts-list {
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;
}
#posts-list article:last-child {
  border-bottom: none;
}
#posts-list article {
  position: relative;
  padding: 3em 0em 4.5em 0;
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#posts-list article .entry-date {
  font-family: 'Lato', serif;
  font-weight: 100;
  font-size: 1em;
  color: #888;
  text-align: center;
  padding: 2em 0em;
  text-transform: uppercase;
}
#posts-list article .entry-heading {
  display: block;
  font-family: 'Lato', serif;
  font-weight: 700;
  font-size: 2.2em;
  color: #444;
  text-align: center;
  text-decoration: none;
  padding: 0em 0em .8em 0;
  line-height: 1.2em;
}
#posts-list article .entry-content {
  margin-bottom: 1.5em;
}
.page-navigation {
  background: rgba(0, 0, 0, 0.02);
  width: 100%;
  margin: 3em 0 0em 0;
}
.page-navigation a {
  line-height: 2em;
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  background: #444;
  font-size: .8em;
}
.page-navigation a:hover {
  background: #921f27;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-navigation .nav-previous a {
  display: block;
  float: right;
}
.page-navigation .nav-next a {
  display: block;
  float: left;
}
.share-post {
  padding: 10px 20px;
  text-align: center;
  color: #888;
  font-weight: 300;
}
.share-post a {
  color: #888;
  text-decoration: none;
}
.share-post a:hover {
  text-decoration: underline;
  color: #cf7831;
}
/*-----------------------------------------------------------------------------------*/
/*	Widgets block
/*-----------------------------------------------------------------------------------*/
.widget-cols {
  position: relative;
  display: block;
  color: #e7d7ba;
  border-top: 3px solid #888;
  padding: 0px;
  margin: 0px;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  color: #444;
}
.widget-cols h1,
.widget-cols h2,
.widget-cols h3,
.widget-cols h4,
.widget-cols h5,
.widget-cols h6 {
  font-family: 'Lato';
  color: #444;
  margin-bottom: 20px;
  font-weight: 700;
}
.widget-cols h4 {
  font-size: .85em;
}
.widget-cols > li {
  list-style: none;
  float: left;
  width: 31.914893614%;
  margin-right: 2.12%;
  margin-bottom: 40px;
  font-size: .85em;
}
.widget-cols > li.third-col {
  margin-right: 0;
}
/*-----------------------------------------------------------------------------------*/
/*	Social icons holder
/*-----------------------------------------------------------------------------------*/
.icons {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}
.icons a {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 10px;
  vertical-align: middle;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
}
/*-----------------------------------------------------------------------------------*/
/*	FOOTER
/*-----------------------------------------------------------------------------------*/
footer {
  display: block;
  background: #444;
  margin: 0;
  z-index: 22;
  position: relative;
  font-size: .8em;
}
footer:before {
  content: ' ';
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: transparent url('../img/zigzag-dark.png') repeat-x center top;
  background-size: 20px;
}
footer .inner {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
  color: #f1f1f1;
}
footer .inner a {
  color: #dbc333;
}
/*-----------------------------------------------------------------------------------*/
/*	ADDITIONAL
/*-----------------------------------------------------------------------------------*/
.sticky {
  background: rgba(0, 0, 0, 0.05);
}
.gallery-caption {
  font-size: 14px;
}
.bypostauthor {
  color: #444;
}
